.wrapper {
  position: relative;
  display: flex;
  gap: 3px;
}

.contact-icon {
  cursor: pointer;
  display: inline-block;
  height: 18px;
  width: 18px;
  background-color: #9873FF;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center center;
  background-image: url(/assets/phone.svg);

  &:hover + .contact-tooltip {
    display: block;
  }
}

.contact-tooltip {
  min-width: 150px;
  top: -150%;
  left: -50%;
  color: #fff;
  position: absolute;
  padding: 5px;
  display: none;
  border-radius: 5px;
  background-color: rgba(48, 48, 48, 0.8);
}