nav {
  display: flex;
  gap: 5px;
}

a {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #fff;
  text-decoration: none;
  color: #9873FF;

  &:active {
    border-color: #9873FF;
  }

  .active {
    border-bottom-color: #9873FF;
  }
}
