.test {
  max-height: 55vh;
}

.wrapper {
  height: 100%;
  overflow-y: scroll;
}

.table {
  margin: 0 auto;
  width: 100%;
  border-collapse: collapse;

  thead {
    position: sticky;
    top: 0;
    background-color: #F5F5F5;
  }

  th {
    position: sticky;
    text-align: left;
    padding: 10px;
    color: #B0B0B0;
    font-weight: 300;
  }

  tbody {
    background-color: #fff;
  }

  td {
    text-align: left;
    min-height: 60px;
    padding: 10px;
  }

  tbody tr {
    border-bottom: 2px solid #F5F5F5;
  }

}

.date {
  span:first-child {
    margin-right: 5px;
  }

  span:last-child{
    color: #B0B0B0;
  }
}

.id {
  color: #B0B0B0;
}

.actions {
  display: flex;
  gap: 5px;
  align-items: center;

  button {
    padding: 5px;
    vertical-align: middle;
    cursor: pointer;
    background-color: inherit;
    border: none;
    font-weight: inherit;

    span {
      display: inline-block;
      height: 15px;
      width: 15px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}

.edit {

  span {
    background-image: url(/assets/edit.svg);
  }
}

.delete {

  span {
    background-image: url(/assets/delete.svg);
  }
}

.add {
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  display: inline-flex;
  align-items: center;
  color: #9873FF;
  border: 1px solid #9873FF;
  padding: 12px 26px;
  gap: 10px;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }

  span {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(/assets/add.svg);
  }
}
