<div class="wrapper">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Fullname</th>
        <th>Adding date</th>
        <th>Last changes date</th>
        <th>Contacts</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients">
        <td class="id">{{client.id}}</td>
        <td>{{client.lastname + " " + client.name + " " + client.middlename}}</td>
        <td class="date">
          <span>{{client.createdAt | date: 'shortDate' }}</span>
          <span>{{client.createdAt | date: 'shortTime' }}</span>
        </td>
        <td class="date">
          <span>{{client.modifiedAt | date: 'shortDate' }}</span>
          <span>{{client.modifiedAt | date: 'shortTime' }}</span>
        </td>
        <td class="contacts">
          <app-contact-block [contactList]="client.contacts"></app-contact-block>
        </td>
        <td class="actions">
          <button (click)="DialogService.toggleDialog('edit', client.id)" class="edit">
            <span></span>
            Edit
          </button>
          <button (click)="DialogService.toggleDialog('delete', client.id)" class="delete">
            <span></span>
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<button (click)="DialogService.toggleDialog('new')" class="add">
  <span></span>
  Add new client
</button>
<app-dialog *ngIf="DialogService.isDialogOpen" [ngSwitch]="DialogService.type">
  <app-client-dialog *ngSwitchCase="'new'"></app-client-dialog>
  <app-confirmation-dialog *ngSwitchCase="'delete'"></app-confirmation-dialog>
  <app-client-dialog *ngSwitchCase="'edit'"></app-client-dialog>
</app-dialog>
