:host{
  flex-grow: 0;
}


.clients {
  background-color: #F5F5F5;
  padding-top: 15px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  

  h1 {
    text-align: left;
  }
}